<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>

<head>
  <title>.o0o.</title>
  <meta name="description" content="NeDB Example">
  <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <!-- Header -->
  <!-- <header class="header-two-bars">

    <div class="header-first-bar">

      <div class="header-limiter">

        <h1><a href="#">Company<span>logo</span></a></h1>

        <nav>
          <a href="#">Overview</a>
          <a href="#" class="selected">Surveys</a>
          <a href="#">Reports</a>
          <a href="#">Roles</a>
        </nav>

        <a href="#" class="logout-button">Logout</a>
      </div>

    </div>

    <div class="header-second-bar">

      <div class="header-limiter">
        <h2><a href="#">Survey name</a></h2>

        <nav>
          <a href="#"><i class="fa fa-comments-o"></i> Questions</a>
          <a href="#"><i class="fa fa-file-text"></i> Results</a>
          <a href="#"><i class="fa fa-group"></i> Participants</a>
          <a href="#"><i class="fa fa-cogs"></i> Settings</a>
        </nav>

      </div>

    </div>

  </header> -->


  <!-- Main Content -->
  <main>
    <!-- Hero -->
    <section class="hero">
      Hero
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
      </p>
    </section>

    <div class="flex-container wrapper">

      <!-- Content -->
      <section class="content">
        Content
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius. At Zeno eum non beatum modo, sed etiam divitem dicere ausus est. Nunc ita separantur, ut disiuncta sint, quo
          nihil potest esse perversius. Itaque quantum adiit periculum! ad honestatem enim illum omnem conatum suum referebat, non ad voluptatem. Ergo id est convenienter naturae vivere, a natura discedere. Esse enim quam vellet iniquus iustus
          poterat inpune. Tu enim ista lenius, hic Stoicorum more nos vexat. Duo Reges: constructio interrete.
        </p>
        <p>
          Quam ob rem tandem, inquit, non satisfacit? Haec quo modo conveniant, non sane intellego. Ita ceterorum sententiis semotis relinquitur non mihi cum Torquato, sed virtuti cum voluptate certatio. Tubulum fuisse, qua illum, cuius is
          condemnatus est rogatione, P. Quem ad modum quis ambulet, sedeat, qui ductus oris, qui vultus in quoque sit? Miserum hominem! Si dolor summum malum est, dici aliter non potest. Quo tandem modo? Ex rebus enim timiditas, non ex vocabulis
          nascitur. Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Quod eo liquidius faciet, si perspexerit rerum inter eas verborumne sit controversia.
        </p>
      </section>

      <!-- Sidebar -->
      <aside class="sidebar">
        Sidebar
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius. At Zeno eum non beatum modo, sed etiam divitem dicere ausus est. Nunc ita separantur, ut disiuncta sint, quo
          nihil potest esse perversius. Itaque quantum adiit periculum!
        </p>
      </aside>

    </div>

  </main>

  <!-- Footer -->
  <!-- in demno this was inside main -->
  <footer class="footer">
    Footer
    <p>
      Esse enim quam vellet iniquus iustus poterat inpune. Tu enim ista lenius, hic Stoicorum more nos vexat. Duo Reges: constructio interrete.
    </p>
  </footer>



  <div>
    <p>Add a new user:</p>
    <form>
      <input id="fName" type="text" maxlength="100" placeholder="John"> <input id="lName" type="text" maxlength="100" placeholder="Hancock">
      <button type="submit">Submit</button>
    </form>
    <p>Users:</p>
    <section class="users">
      <ul id="users">
      </ul>
    </section>
    <p><a href="/reset">Reset</a> | <a href="/clear">Clear</a></p>
  </div>



  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script src="/client.js"></script>

</body>

</html>
