<!DOCTYPE html>
<html>

<head>
  <title>.o0o.</title>
  <meta name="description" content="virtual moon reverance for global ritual and connection">
  <!-- <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon"> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.7.0/Tween.js"></script>


  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/mailform.css">
  <!-- MailerLite Universal -->
  <script>
    (function(m, a, i, l, e, r) {
      m['MailerLiteObject'] = e;

      function f() {
        var c = {
          a: arguments,
          q: []
        };
        var r = this.push(c);
        return "number" != typeof r ? r : f.bind(c.q);
      }
      f.q = f.q || [];
      m[e] = m[e] || f.bind(f.q);
      m[e].q = m[e].q || f.q;
      r = a.createElement(i);
      var _ = a.getElementsByTagName(i)[0];
      r.async = 1;
      r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
      _.parentNode.insertBefore(r, _);
    })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '2600831', 'p3a0y9j7q3', 'load');
  </script>
  <!-- End MailerLite Universal -->


</head>

<body>
  <header class="main-header">
    <div class="width-max1200 flex-wrap-container">
      <h1 class="mh-logo">
        <!-- <img src="http://flexbox.ninja/assets/images/logo.svg" width="170" height="95" alt="Flexbox.ninja"> -->
        ..o0o..
      </h1>
      <nav class="main-nav">
        <ul class="main-nav-list" style="font-size: 1.3rem;">
          <li>
            <a href="/o0o/">░▒▓█</a>
          </li>
          <li>
            <a href="#">☂˚｡、</a>
          </li>
          <li>
            <a href="#">ヽ｀☽ヽ｀</a>
          </li>
          <li>
            <a href="javascript:;" onclick="ml_account('webforms', '3216520', 'f1o8f0', 'show')">
              📆🌚 & 📆🌝 ➡ 💌
            </a>
          </li>
          <li>
            <a href="#">🌚 12.14.20</a>
          </li>
          <!-- <li>
            <a href="#">🌓 12.21.20</a>
          </li> -->
          <!-- <li>
            <a href="#">🌝 12.30.20</a>
          </li> -->
          <li class="select">
            <!-- <a href="#">🌝 12.29.20</a> -->
            <!-- <label for="cars">🌝🌚🌝🌚🌝🌚</label> -->
            <!-- https://www.mooninfo.org/moon-phases/2021.html -->
            <!-- <select name="cars" id="cars">
              <option value="volvo">🌝 12.30.20 ⤵</option>
              <option value="saab">🌚 1.13.21</option>
              <option value="audi">🌝 1.28.21</option>
              <option value="audi">🌚 2.11.21</option>
              <option value="audi">🌝 2.27.21</option>
              <option value="audi">🌚 3.13.21</option>
              <option value="audi">🌝 3.28.21</option>
            </select> -->
            <div class="dropdown">
              <button class="dropbtn">🌝 12.30.20 ⬇</button>
              <div class="dropdown-content">
                <a href="#">🌚 1.13.21</a>
                <a href="#">🌝 1.28.21</a>
                <a href="#">🌚 2.11.21</a>
                <a href="#">🌝 2.27.21</a>
                <a href="#">🌚 3.13.21</a>
                <a href="#">🌝 3.28.21</a>
                <a href="#">🌚 4.12.21</a>
                <a href="#">🌝 4.27.21</a>
                <a href="#">🌚 5.11.21</a>
                <a href="#">🌝 5.26.21</a>
                <a href="#">🌚 6.10.21</a>
                <a href="#">🌝 6.24.21</a>
                <a href="#">🌚 7.10.21</a>
                <a href="#">🌝 7.24.21</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <!-- Main Content -->
  <main>
    <!-- for splitting content in browser w/ flexbox -->
    <div class="flex-container width-max1200">
      <section class="content">
        <div class="">
          <!-- <p>🤩🌗🌚🌓🤩 </p> -->
          <p class="lg-font">🌊🌊 💤🎶 ⚖️ <span class="lg-font"> Øø°%†
              ∞⧝⧞⧜</span></p>
          <!-- <p style="font-size: 2.3rem; color: #0053D0;">🌍🌏🌎¡!¡!¡ <span style="color: #eeeeee;">±¼</span></p> -->
          </p>
        </div>
      </section>

      <aside class="sidebar-30 contribution">
        <!-- <div style="text-align: center;">
          <p style="font-size: 1.2rem">💭&nbsp;&nbsp;&nbsp;&nbsp;💭💭&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;💭&nbsp;💭&nbsp;&nbsp;&nbsp;&nbsp;💭&nbsp;&nbsp;&nbsp;💭</p>
          <p style="font-size: 1.2rem">🐙🦑🦐🦞🦀🐡🐠🐟🐬🐳🐋🦈</p>
          <form>
            <input id="fName" type="text" maxlength="13" size="13" placeholder="????" style="font-size: 1rem; padding: .2rem"> <input id="lName" type="text" maxlength="13" size="13" placeholder="¿¿¿¿" style="font-size: 1rem; padding: .2rem">
            <p style="padding: .5rem;">+💭 💭+</p>
            <button class="speakButton" type="submit" style="font-size: 1.2rem; background-color: #eee; padding: .1rem;">..🎙🗣..</button>
          </form>

          <div class="users">
            <ul id="users" style="list-style: none;">
            </ul>
          </div>
          <p><a href="/reset">♺</a> | <a href="/clear">⌫</a></p>
        </div> -->
      </aside>

    </div>
    <!-- Three JS Top -->
    <section class="width-full">
      <div class="width-max1000" id="threeContainer">

        <div id='threejsDiv' class="longShadow">
        </div>
        <!-- <div id='p5Div' class="longShadow"></div> -->

      </div>

    </section>



    <!-- for splitting content in browser w/ flexbox -->
    <div class="flex-container width-max1200">
      <section class="content">
        <div class="">
          <!-- <p>🤩🌗🌚🌓🤩 </p> -->
          <img class="img longShadowGreen marginTop" src="assets-main/images/tide4moon.jpg" alt="" style="border-radius:50%;">
          <!-- <img class="img longShadowGreen" src="assets-main/images/tide4moon.jpg" alt="" style="max-width: 800px; border: .3rem solid #0d0d0d; border-radius:50%;"> -->
          <!-- <p style="font-size: 2.3rem">🌊🌊 💤🎶 ⚖️ <span style="font-size: 1.2rem"> Øø°%†
              ∞⧝⧞⧜</span></p>
          <p style="font-size: 2.3rem; color: #0053D0;">🌍🌏🌎¡!¡!¡ <span style="color: #eeeeee;">±¼</span></p>
          </p> -->
        </div>
      </section>

      <aside class="sidebar-30 contribution">
        <!-- <div style="text-align: center;">
          <p class="lg-font" style="">💭&nbsp;&nbsp;&nbsp;&nbsp;💭💭&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;💭&nbsp;💭&nbsp;&nbsp;&nbsp;&nbsp;💭&nbsp;&nbsp;&nbsp;💭</p>
          <p class="lg-font">🐙🦑🦐🦞🦀🐡🐠🐟🐬🐳🐋🦈</p>
          <form>
            <input id="fName" type="text" maxlength="13" size="13" placeholder="????" class="md-font" style="padding: .2rem"> <input id="lName" type="text" maxlength="13" size="13" placeholder="¿¿¿¿" class="md-font"
              style="padding: .3rem">
            <button class="speakButton lg-font" type="submit" class="md-font" style="background-color: #0053D0; padding: .1rem; margin: .4rem">..🎙🗣..</button>
          </form>

          <div class="users">
            <ul id="users" class="md-font" style="list-style: none;">
            </ul>
          </div>
          <p><a href="/reset">♺</a> | <a href="/clear">⌫</a></p>
        </div> -->
      </aside>

    </div>

  </main>

  <!-- div for bgCanvas is used in three demo from lynda -->
  <div class="" id="bgCanvas">

  </div>
  <canvas id="canvas-background"></canvas>

  <!-- <footer class="foot">
  </footer> -->




  <!-- Your web-app is https, so your scripts need to be too -->

  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.4/Tween.min.js"></script> -->

  <!-- <script src="/aframe.js"></script> -->
  <script src="/build/three.min.js"></script>
  <script src="/lib/threex.domevents.js"></script>

  <script src="/sketch.js"></script>
  <script type="module" src="/threeTopDiv/scene.js"></script>
  <script src="/client.js"></script>
  <script src="/noise/simplex-noise.js"></script>
</body>

</html>
