<!DOCTYPE html>
<html>

<head>
  <title>.o0o.</title>
  <meta name="description" content="virtual moon reverance for global ritual and connection">
  <!-- <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon"> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <header class="main-header">
    <div class="width-max1200 flex-wrap-container">
      <h1 class="mh-logo">
        <!-- <img src="http://flexbox.ninja/assets/images/logo.svg" width="170" height="95" alt="Flexbox.ninja"> -->
        ..o0o..
      </h1>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a href="/o0o/">░▒▓█</a>
          </li>
          <li>
            <a href="#">☂˚｡、</a>
          </li>
          <li>
            <a href="#">ヽ｀☽ヽ｀</a>
          </li>
          <li>
            <a href="#">🌚 12.14.20</a>
          </li>
          <li>
            <a href="#">🌝 12.29.20</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <!-- Main Content -->
  <main>
    <!-- Three JS Top -->
    <section class="width-full">
      <div class="width-max720">
        <div id='threejsDiv'></div>
        <div id='p5Div'></div>
      </div>

    </section>

    <!-- for splitting content in browser w/ flexbox -->
    <div class="flex-container width-max1200">

      <!-- Content -->
      <section class="content">
        Content
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius. At Zeno eum non beatum modo, sed etiam divitem dicere ausus est. Nunc ita separantur, ut disiuncta sint, quo
          nihil potest esse perversius. Itaque quantum adiit periculum! ad honestatem enim illum omnem conatum suum referebat, non ad voluptatem. Ergo id est convenienter naturae vivere, a natura discedere. Esse enim quam vellet iniquus iustus
          poterat inpune. Tu enim ista lenius, hic Stoicorum more nos vexat. Duo Reges: constructio interrete.
        </p>
        <p>
          Quam ob rem tandem, inquit, non satisfacit? Haec quo modo conveniant, non sane intellego. Ita ceterorum sententiis semotis relinquitur non mihi cum Torquato, sed virtuti cum voluptate certatio. Tubulum fuisse, qua illum, cuius is
          condemnatus est rogatione, P. Quem ad modum quis ambulet, sedeat, qui ductus oris, qui vultus in quoque sit? Miserum hominem! Si dolor summum malum est, dici aliter non potest. Quo tandem modo? Ex rebus enim timiditas, non ex vocabulis
          nascitur. Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Quod eo liquidius faciet, si perspexerit rerum inter eas verborumne sit controversia.
        </p>

      </section>

      <!-- Sidebar -->
      <aside class="sidebar">
        <div>
          <p>Add a new user:</p>
          <form>
            <input id="fName" type="text" maxlength="100" placeholder="John"> <input id="lName" type="text" maxlength="100" placeholder="Hancock">
            <button type="submit">Submit</button>
          </form>
          <p>Users:</p>
          <section class="users">
            <ul id="users">
            </ul>
          </section>
          <p><a href="/reset">Reset</a> | <a href="/clear">Clear</a></p>
        </div>
      </aside>

    </div>

  </main>

  <!-- div for bgCanvas is used in three demo from lynda -->
<div class="" id="bgCanvas">

</div>
  <canvas id="canvas-background"></canvas>

  <!-- <footer class="foot">
  </footer> -->




  <!-- Your web-app is https, so your scripts need to be too -->

  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

  <!-- <script src="/aframe.js"></script> -->
  <script src="/sketch.js"></script>
  <script type="module" src="/threeTopDiv.js"></script>
  <script src="/client.js"></script>

</body>

</html>
