* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #eeeeee;
  background: #111f22;
}

 /* Images are now responsive */
img {
 max-width: 100%;
 height: auto;
}




header, section, aside, footer {
  display: block;
  margin: 0;
  padding: 1rem;
  border: 1px solid #ff0000;
  color: #eeeeee;
}

main {
  background: #111f22;
  padding: 2rem;
}


/* ******* flex containers ******** */

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-wrap-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}


/**
 * Limit the container in
 * width for big screens
 */
.width-max1200 {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

.width-full {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.header {
  background: #03a9f4;
}

.hero {
  background: #d22b1f;
}

.content {
  flex: 1;
  background: #129a22;
}

.sidebar {
  flex: 0 1 300px;
  border: 1px solid #000000;
  background: #673ab7;
}

.foot {
  border: 1px solid #000000;
  background: #616161;
}

/* ****** header ******* */



/**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in
 * small screens
 */


/**
 * The followings are to
 * make things more
 * clean and airy
 * and contents centered
 */
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
  text-decoration: none;
  color: #eeeeee;
}


/* ******** Canvases ******** */

#canvas-background {
  position: fixed;
  z-index: -1;
}

/* ********** media queries ********** */

@media screen and (max-width: 600px) {

  /* @media screen and (min-width: 480px){ */


  main {
    padding: .2rem;
  }

  .flex-container {
    flex-direction: column;
  }
}
